.section-header {
    padding: 55px 60px 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(222, 225, 230);
}

.header__social,
.footer__social {
    display: flex;
    align-items: center;
    &>*:not(:last-child) {
        margin-right: 30px;
    }
}

.header__logo {
    text-align: center;
}

.header__search {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-right: 45px;
}

.header__right {
    display: flex;
}