header.section-header
    .header__social
        a(href="#").social__items 
            img(src="./img/icons/social/instagram.svg", alt="instagram")
        a(href="#").social__items 
            img(src="./img/icons/social/twitter.svg", alt="instagram")
        a(href="#").social__items 
            img(src="./img/icons/social/facebook-f.svg", alt="instagram")
    .header__logo 
        h1.title Hipsum Blog
    .header__right 
        .header__search
            img(src="./img/icons/search.svg", alt="search")
        .button Subscribe

    