.user__avatar {
    display: block;
    width: 50px;
    height: 50px;

    &>* {
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
    }

    img {
        height: 100%;
    }
}

.comments__items {
    padding-top: 40px;
    padding-bottom: 35px;
}

.user__nike {
    font-size: 16px;
    color: rgb(67, 86, 113);
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
}

.comments__user {
    display: flex;
    align-items: center;
    padding-bottom: 20px;

    &>*+* {
        margin-left: 10px;
    }
}

.comments__text {
    font-size: 16px;
    color: rgb(31, 31, 31);
    line-height: 1.75;

    &>*+* {
        margin-top: 10px;
    }
}

.other-comment__comments {
    &>*:not(:last-child) {
        border-bottom: 1px solid rgb(222, 225, 230);
    }
}