.comments__items 
    .comments__user 
        a(href="#").user__avatar 
            img(src="./img/users/user-01.jpg", alt="user-01")
        a(href="#").user__nike Nina Ricci
    .comments__text 
        p Locavore keffiyeh kickstarter fashion axe vaporware, fam vexillologist chambray +1 gastropub man braid leggings aesthetic literally lumbersexual. 
.comments__items 
    .comments__user
        a(href="#").user__nike Joe Campbel
    .comments__text 
        p Tumblr wolf whatever single-origin coffee, unicorn you probably haven't heard of them raw denim narwhal aesthetic gochujang air plant. 
.comments__items 
    .comments__user
        a(href="#").user__nike Luke Besson
    .comments__text 
        p Umami typewriter celiac, blue bottle flexitarian 3 wolf moon flannel pabst gentrify four dollar toast vinyl shabby chic enamel pin cardigan.
.comments__items 
    .comments__user 
        a(href="#").user__avatar 
            img(src="./img/users/user-02.jpg", alt="user-01")
        a(href="#").user__nike Tim Hendrix
    .comments__text 
        p Wayfarers try-hard crucifix, neutra paleo yr williamsburg. Austin heirloom stumptown migas art party freegan prism cold-pressed air plant tattooed keytar plaid. 
.comments__items 
    .comments__user 
        a(href="#").user__avatar 
            img(src="./img/users/user-03.jpg", alt="user-01")
        a(href="#").user__nike Walt Bezos
    .comments__text 
        p Before they sold out palo santo organic shabby chic four loko farm-to-table 8-bit bitters. Green juice pug migas cloud bread, 90's kickstarter stumptown shabby chic try-hard typewriter. 