form(action="",method="post").form
    .form__title 
        h3.title Comment it:
    .form__comment 
        textarea(name="comment").comment
            | Flannel bicycle rights chicharrones tacos craft beer blog messenger bag. Vexillologist brooklyn wolf raclette celiac readymade gluten-free. 
    .form__info
        input(type="text",placeholder="Your name").input
        input(type="text",placeholder="Email").input
        input(type="text",placeholder="Homepage").input
    button(type="button", class="button") Comment