.pagination 
    button.pagination__button
    .slider 
        a.slid__article(href="#").active 1 
        a.slid__article(href="#") 2
        a.slid__article(href="#") 3
    button.pagination__button older posts