.recent
    h3.title Recent posts
    .recent__desc 
        .recent__desc__img 
            img(src="./img/small-thumbs/01.jpg", alt="")
        h4.title Austin DIY sriracha polaroid sartorial la croix. 
        .recent__desc__info december 26, 2019 — 5 comments

    .recent__desc 
        .recent__desc__img 
            img(src="./img/small-thumbs/02.jpg", alt="")
        h4.title Vinyl hexagon tbh selvage chambray street art.
        .recent__desc__info DECEMBER 12, 2019 — 0 COMMENTS

    .recent__desc 
        .recent__desc__img 
            img(src="./img/small-thumbs/03.jpg", alt="")
        h4.title Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones.
        .recent__desc__info DECEMBER 08, 2019 — 2 COMMENTS

    .recent__desc 
        .recent__desc__img 
            img(src="./img/small-thumbs/04.jpg", alt="")
        h4.title Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin.
        .recent__desc__info NOVEMBER 28, 2019 — 12 COMMENTS

    .recent__desc 
        .recent__desc__img 
            img(src="./img/small-thumbs/05.jpg", alt="")
        h4.title Minim ad austin tousled gluten-free.
        .recent__desc__info NOVEMBER 17, 2019 — 22 COMMENTS
        